[Unit]
Description=Logging docker events
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tail -f /var/log/auth.log  > /dev/udp/{{LOGGING_URL}}/{{LOGGING_PORT}}
Restart=always

[Install]
WantedBy=multi-user.target
